# ignore data files and plot images
data/
data/*
*.png

# ignore swap files from vim
*.swp

# ignore documentation output files
doc/*.aux
doc/*.log
doc/*.out
doc/*.nav
doc/*.snm
doc/*.toc
doc/*.dvi
doc/*.pdf
